/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
vendor
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.idea
/storage/logs/*
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/file/*
package-lock.json
yarn.lock
*.log
public/build
.gitignore
composer.lock
/composer.lock
/phpunit.xml
front-app/node_modules
.env
/storage/debugbar
*.idea
/public/build
node_modules
./phpunit-local.xml
/phpunit-local.xml
mysqldata
redisdata
