/.phpunit.cache
/node_modules
back-app/public/hot
back-app/public/storage
back-app/storage/*.key
back-app/vendor
vendor
back-app/.env
back-app/.env.backup
back-app/.env.production
back-app/.phpunit.result.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.idea
back-app/storage/logs/*
back-app/storage/app/public/*
back-app/storage/framework/cache/*
back-app/storage/framework/sessions/*
back-app/storage/framework/testing/*
back-app/storage/framework/views/*
back-app/storage/file/*
package-lock.json
yarn.lock
*.log
public/build
.gitignore
composer.lock
back-app/composer.lock
back-app/phpunit.xml
front-app/node_modules
.env
back-app/storage/debugbar
*.idea
back-app/public/build
node_modules
./back-app/phpunit-local.xml
back-app/phpunit-local.xml
mysqldata
redisdata
